<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('info') }}">About us</a>
        <a href="{{ url_for('contacts') }}">Contacts</a>
    </nav>
    <h1>Test page of education</h1>

    {% block content %}{% endblock %}


    <footer>
        <div>
            <p>Copyright © 2023 PDA. All Rights Reserved.</p>
            <p>RU</p>
        </div>
    </footer>
</body>
</html>
